// Black
$color-black0: #000;
$color-black1: #000;
$color-black2: #000;
$color-black3: #000;
$color-black4: #000;
$color-black5: #000;

// White
$color-white0: #fff;
$color-white1: #fff;
$color-white2: #fff;
$color-white3: #fff;
$color-white4: #fff;
$color-white5: #fff;

// Blue
$color-blue0: #fff;
$color-blue1: #fff;
$color-blue2: #fff;
$color-blue3: #fff;
$color-blue4: #fff;
$color-blue5: #fff;

// White
$color-white0: #fff;
$color-white1: #fff;
$color-white2: #fff;
$color-white3: #fff;
$color-white4: #fff;
$color-white5: #fff;