@import 'grid';
@import 'colors';

@font-face {
	font-family: 'Campton';
	src: url("../fonts/CamptonLight.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: 'Campton';
	src: url("../fonts/CamptonLight.otf") format("opentype");
	font-weight: bold;
}

* {
	font-family: 'Campton';
	font-weight: normal;	
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-white0;
}


h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
	
	&:hover, &:active {
		text-decoration: none;
	}
}
nav.navbar {
	background-color: none;
	color: $color-white3;
	
	.container {
		.brand {
			float: left;
			
			h1.nav-text {
				display: inline-block;
				font-size: 24px;
				color: $color-white3;
			}
		}
		
		.content {
			float: right;
			
			ul {
				list-style: none;
				
				li.nav-text {
					display: inline-block;
					margin: 0 15px;
					font-size: 18px;
					
					a {
						color: $color-white3;
						padding: 15px 0;	
					}
				}
			}
		}
	}
	
	&.scrolled {
		background-color: $color-white0;
		color: $color-black3;
	}
}

section.hero {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}