@import 'grid';
@import 'colors';

@font-face {
	font-family: 'Campton';
	src: url("../fonts/CamptonLight.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: 'Campton';
	src: url("../fonts/CamptonLight.otf") format("opentype");
	font-weight: bold;
}

@mixin vertical-align {
	position: relative;
	top: 30%;
	// -webkit-transform: translateY(-50%);
	// -ms-transform: translateY(-50%);
	// transform: translateY(-50%);
}

* {
	font-family: 'Campton';
	font-weight: normal;	
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-white0;
}


h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
	
	&:hover, &:active {
		text-decoration: none;
	}
}
nav.navbar {
	position: fixed;
	top: 0;
	lefT: 0;
	right: 0;
	background-color: none;
	color: $color-white3;
	margin: 0;
	padding: 0;
	
	.container {
		.brand {
			float: left;
			line-height: 3;
			
			h1.nav-text {
				display: inline-block;
				font-size: 36px;
				margin-left: 5px;
				color: $color-white3;
			}
			
			.logo {
				width: 25px;
				height: 25px;
			}
		}
		
		.content {
			float: right;
			
			ul {
				list-style: none;
				
				li.nav-text {
					display: inline-block;
					margin: 0 15px;
					font-size: 24px;
					
					a {
						color: $color-white3;
						padding: 15px 0;
						line-height: 5;	
					}
				}
			}
		}
	}
	
	&.scrolled {
		background-color: $color-white0;
		color: $color-black3;
		
		li.nav-text {
			a {
				color: $color-black3;
				padding: 15px 0;	
			}
		}
	}
}

section.hero {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/background-add.jpg) no-repeat center right scroll;
	background-size: cover;
	
	.container {
		@include vertical-align;
		text-align: left;
		margin: 0 auto;
		padding: 0;
		
		h1.title {
			font-size: 96px;
			margin: 0;
			padding: 0;
			color: $color-white1;
		}
		
		h2.subtitle {
			font-size: 24px;
			margin: 2px 5px;
			color: $color-white3;
			opacity: 0.75;
		}
	}
	
	button.learn-more {
		width: auto;
		max-width: 300px;
		height: auto;
		margin: 7% 0 0 5px;
		padding: 7px 35px;
		background: $color-gray3;
		color: $color-white3;
		border: 0;
	}
}

section.about {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 60px 0;
	background-color: $color-white3;
	text-align: center;
	
	h1.title {
		font-size: 54px;
		color: $color-black3;
		margin: 0 auto;
	}
	
	p {
		width: 100%;
		max-width: 720px;
		font-size: 24px;
		line-height: 1.7;
		margin: -7px auto 0 auto;
		color: $color-black3;
		opacity: 0.8;
	}
}

section.f-features {
	width: 100%;
	height: 90%;
	background: url(../images/futuristic.jpg) no-repeat center center scroll;
	background-size: cover;
	
	.container-small {
		position: relative;
		top: 20%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		
		h1.header {	
			font-size: 54px;
			color: $color-white1;
			margin: 20% 0 5px 0;
		}
		
		.col-md-6-12:nth-child(2) {
			img.mockup {
				position: relative;
				left: 50%;
				margin-left: -150px;
				width: 300px;
			}
		}
		
		p {
			color: $color-white3;
			opacity: 0.8;
			line-height: 2;
			font-size: 24px;
			margin: 0;
		}
	}
}

section.everyone {
	width: 100%;
	height: 90%;
	background: url(../images/everyone.jpg) no-repeat center center scroll;
	background-size: cover;
	
	.container-small {
		position: relative;
		top: 15%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		
		.col-md-6-12 {
			float: right;
		}
		
		h1.header {	
			font-size: 54px;
			color: $color-white1;
			margin: 20% 0 5px 0;
			text-align: right;
		}
		
		p {
			color: $color-white3;
			opacity: 0.8;
			line-height: 2;
			font-size: 24px;
			margin: 0 0 0 auto;
		}
	}
}

section.subscribe {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 60px 0;
	background-color: $color-white3;
	text-align: center;
	
	h1.title {
		font-size: 54px;
		color: $color-black3;
		margin: 0 auto;
	}
	
	p {
		width: 100%;
		max-width: 720px;
		font-size: 24px;
		line-height: 1.7;
		margin: -15px auto 0 auto;
		color: $color-black3;
		opacity: 0.8;
	}
}