/* GRID */
.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 720px) {
    .container {
      width: 700px; } }
  @media screen and (min-width: 960px) {
    .container {
      width: 935px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media screen and (min-width: 1440px) {
    .container {
      width: 1400px; } }

.container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.col-sm-1-5, .col-sm-2-5, .col-sm-3-5, .col-sm-4-5, .col-sm-5-5, .col-md-1-5, .col-md-2-5, .col-md-3-5, .col-md-4-5, .col-md-5-5, .col-lg-1-5, .col-lg-2-5, .col-lg-3-5, .col-lg-4-5, .col-lg-5-5, .col-xl-1-5, .col-xl-2-5, .col-xl-3-5, .col-xl-4-5, .col-xl-5-5, .col-sm-1-12, .col-sm-2-12, .col-sm-3-12, .col-sm-4-12, .col-sm-5-12, .col-sm-6-12, .col-sm-7-12, .col-sm-8-12, .col-sm-9-12, .col-sm-10-12, .col-sm-11-12, .col-sm-12-12, .col-md-1-12, .col-md-2-12, .col-md-3-12, .col-md-4-12, .col-md-5-12, .col-md-6-12, .col-md-7-12, .col-md-8-12, .col-md-9-12, .col-md-10-12, .col-md-11-12, .col-md-12-12, .col-lg-1-12, .col-lg-2-12, .col-lg-3-12, .col-lg-4-12, .col-lg-5-12, .col-lg-6-12, .col-lg-7-12, .col-lg-8-12, .col-lg-9-12, .col-lg-10-12, .col-lg-11-12, .col-lg-12-12, .col-xl-1-12, .col-xl-2-12, .col-xl-3-12, .col-xl-4-12, .col-xl-5-12, .col-xl-6-12, .col-xl-7-12, .col-xl-8-12, .col-xl-9-12, .col-xl-10-12, .col-xl-11-12, .col-xl-12-12, .col-sm-1-16, .col-sm-2-16, .col-sm-3-16, .col-sm-4-16, .col-sm-5-16, .col-sm-6-16, .col-sm-7-16, .col-sm-8-16, .col-sm-9-16, .col-sm-10-16, .col-sm-11-16, .col-sm-12-16, .col-sm-13-16, .col-sm-14-16, .col-sm-15-16, .col-sm-16-16, .col-md-1-16, .col-md-2-16, .col-md-3-16, .col-md-4-16, .col-md-5-16, .col-md-6-16, .col-md-7-16, .col-md-8-16, .col-md-9-16, .col-md-10-16, .col-md-11-16, .col-md-12-16, .col-md-13-16, .col-md-14-16, .col-md-15-16, .col-md-16-16, .col-lg-1-16, .col-lg-2-16, .col-lg-3-16, .col-lg-4-16, .col-lg-5-16, .col-lg-6-16, .col-lg-7-16, .col-lg-8-16, .col-lg-9-16, .col-lg-10-16, .col-lg-11-16, .col-lg-12-16, .col-lg-13-16, .col-lg-14-16, .col-lg-15-16, .col-lg-16-16, .col-xl-1-16, .col-xl-2-16, .col-xl-3-16, .col-xl-4-16, .col-xl-5-16, .col-xl-6-16, .col-xl-7-16, .col-xl-8-16, .col-xl-9-16, .col-xl-10-16, .col-xl-11-16, .col-xl-12-16, .col-xl-13-16, .col-xl-14-16, .col-xl-15-16, .col-xl-16-16 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-1-5 {
  -ms-flex-preferred-size: 20%;
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
  width: 20%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-2-5 {
  -ms-flex-preferred-size: 40%;
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
  width: 40%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-3-5 {
  -ms-flex-preferred-size: 60%;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  width: 60%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-4-5 {
  -ms-flex-preferred-size: 80%;
  -webkit-flex-basis: 80%;
  flex-basis: 80%;
  width: 80%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-5-5 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  width: 100%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

@media screen and (min-width: 720px) {
  .col-sm-1-5 {
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }

  .col-sm-2-5 {
    -ms-flex-preferred-size: 40%;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }

  .col-sm-3-5 {
    -ms-flex-preferred-size: 60%;
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }

  .col-sm-4-5 {
    -ms-flex-preferred-size: 80%;
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }

  .col-sm-5-5 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 960px) {
  .col-md-1-5 {
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }

  .col-md-2-5 {
    -ms-flex-preferred-size: 40%;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }

  .col-md-3-5 {
    -ms-flex-preferred-size: 60%;
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }

  .col-md-4-5 {
    -ms-flex-preferred-size: 80%;
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }

  .col-md-5-5 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1200px) {
  .col-lg-1-5 {
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }

  .col-lg-2-5 {
    -ms-flex-preferred-size: 40%;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }

  .col-lg-3-5 {
    -ms-flex-preferred-size: 60%;
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }

  .col-lg-4-5 {
    -ms-flex-preferred-size: 80%;
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }

  .col-lg-5-5 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1440px) {
  .col-xl-1-5 {
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }

  .col-xl-2-5 {
    -ms-flex-preferred-size: 40%;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }

  .col-xl-3-5 {
    -ms-flex-preferred-size: 60%;
    -webkit-flex-basis: 60%;
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }

  .col-xl-4-5 {
    -ms-flex-preferred-size: 80%;
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }

  .col-xl-5-5 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
.col-xs-1-12 {
  -ms-flex-preferred-size: 8.33333%;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  width: 8.33333%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-2-12 {
  -ms-flex-preferred-size: 16.66667%;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  width: 16.66667%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-3-12 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  width: 25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-4-12 {
  -ms-flex-preferred-size: 33.33333%;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  width: 33.33333%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-5-12 {
  -ms-flex-preferred-size: 41.66667%;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  width: 41.66667%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-6-12 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  width: 50%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-7-12 {
  -ms-flex-preferred-size: 58.33333%;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  width: 58.33333%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-8-12 {
  -ms-flex-preferred-size: 66.66667%;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  width: 66.66667%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-9-12 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  width: 75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-10-12 {
  -ms-flex-preferred-size: 83.33333%;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  width: 83.33333%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-11-12 {
  -ms-flex-preferred-size: 91.66667%;
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  width: 91.66667%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-12-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  width: 100%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

@media screen and (min-width: 720px) {
  .col-sm-1-12 {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }

  .col-sm-2-12 {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }

  .col-sm-3-12 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-sm-4-12 {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }

  .col-sm-5-12 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }

  .col-sm-6-12 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-sm-7-12 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }

  .col-sm-8-12 {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }

  .col-sm-9-12 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-sm-10-12 {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }

  .col-sm-11-12 {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }

  .col-sm-12-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 960px) {
  .col-md-1-12 {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }

  .col-md-2-12 {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }

  .col-md-3-12 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-md-4-12 {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }

  .col-md-5-12 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }

  .col-md-6-12 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-md-7-12 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }

  .col-md-8-12 {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }

  .col-md-9-12 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-md-10-12 {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }

  .col-md-11-12 {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }

  .col-md-12-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1200px) {
  .col-lg-1-12 {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2-12 {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3-12 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-lg-4-12 {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5-12 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6-12 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-lg-7-12 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8-12 {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9-12 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-lg-10-12 {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11-12 {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1440px) {
  .col-xl-1-12 {
    -ms-flex-preferred-size: 8.33333%;
    -webkit-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    width: 8.33333%;
    max-width: 8.33333%; }

  .col-xl-2-12 {
    -ms-flex-preferred-size: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    width: 16.66667%;
    max-width: 16.66667%; }

  .col-xl-3-12 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-xl-4-12 {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%; }

  .col-xl-5-12 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    width: 41.66667%;
    max-width: 41.66667%; }

  .col-xl-6-12 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-xl-7-12 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    width: 58.33333%;
    max-width: 58.33333%; }

  .col-xl-8-12 {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%; }

  .col-xl-9-12 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-xl-10-12 {
    -ms-flex-preferred-size: 83.33333%;
    -webkit-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    width: 83.33333%;
    max-width: 83.33333%; }

  .col-xl-11-12 {
    -ms-flex-preferred-size: 91.66667%;
    -webkit-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    width: 91.66667%;
    max-width: 91.66667%; }

  .col-xl-12-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
.col-xs-1-16 {
  -ms-flex-preferred-size: 6.25%;
  -webkit-flex-basis: 6.25%;
  flex-basis: 6.25%;
  width: 6.25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-2-16 {
  -ms-flex-preferred-size: 12.5%;
  -webkit-flex-basis: 12.5%;
  flex-basis: 12.5%;
  width: 12.5%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-3-16 {
  -ms-flex-preferred-size: 18.75%;
  -webkit-flex-basis: 18.75%;
  flex-basis: 18.75%;
  width: 18.75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-4-16 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  width: 25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-5-16 {
  -ms-flex-preferred-size: 31.25%;
  -webkit-flex-basis: 31.25%;
  flex-basis: 31.25%;
  width: 31.25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-6-16 {
  -ms-flex-preferred-size: 37.5%;
  -webkit-flex-basis: 37.5%;
  flex-basis: 37.5%;
  width: 37.5%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-7-16 {
  -ms-flex-preferred-size: 43.75%;
  -webkit-flex-basis: 43.75%;
  flex-basis: 43.75%;
  width: 43.75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-8-16 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  width: 50%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-9-16 {
  -ms-flex-preferred-size: 56.25%;
  -webkit-flex-basis: 56.25%;
  flex-basis: 56.25%;
  width: 56.25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-10-16 {
  -ms-flex-preferred-size: 62.5%;
  -webkit-flex-basis: 62.5%;
  flex-basis: 62.5%;
  width: 62.5%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-11-16 {
  -ms-flex-preferred-size: 68.75%;
  -webkit-flex-basis: 68.75%;
  flex-basis: 68.75%;
  width: 68.75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-12-16 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  width: 75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-13-16 {
  -ms-flex-preferred-size: 81.25%;
  -webkit-flex-basis: 81.25%;
  flex-basis: 81.25%;
  width: 81.25%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-14-16 {
  -ms-flex-preferred-size: 87.5%;
  -webkit-flex-basis: 87.5%;
  flex-basis: 87.5%;
  width: 87.5%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-15-16 {
  -ms-flex-preferred-size: 93.75%;
  -webkit-flex-basis: 93.75%;
  flex-basis: 93.75%;
  width: 93.75%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-16-16 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  width: 100%;
  float: left;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 7px;
  padding-right: 7px; }

@media screen and (min-width: 720px) {
  .col-sm-1-16 {
    -ms-flex-preferred-size: 6.25%;
    -webkit-flex-basis: 6.25%;
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%; }

  .col-sm-2-16 {
    -ms-flex-preferred-size: 12.5%;
    -webkit-flex-basis: 12.5%;
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }

  .col-sm-3-16 {
    -ms-flex-preferred-size: 18.75%;
    -webkit-flex-basis: 18.75%;
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%; }

  .col-sm-4-16 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-sm-5-16 {
    -ms-flex-preferred-size: 31.25%;
    -webkit-flex-basis: 31.25%;
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%; }

  .col-sm-6-16 {
    -ms-flex-preferred-size: 37.5%;
    -webkit-flex-basis: 37.5%;
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }

  .col-sm-7-16 {
    -ms-flex-preferred-size: 43.75%;
    -webkit-flex-basis: 43.75%;
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%; }

  .col-sm-8-16 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-sm-9-16 {
    -ms-flex-preferred-size: 56.25%;
    -webkit-flex-basis: 56.25%;
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%; }

  .col-sm-10-16 {
    -ms-flex-preferred-size: 62.5%;
    -webkit-flex-basis: 62.5%;
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }

  .col-sm-11-16 {
    -ms-flex-preferred-size: 68.75%;
    -webkit-flex-basis: 68.75%;
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%; }

  .col-sm-12-16 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-sm-13-16 {
    -ms-flex-preferred-size: 81.25%;
    -webkit-flex-basis: 81.25%;
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%; }

  .col-sm-14-16 {
    -ms-flex-preferred-size: 87.5%;
    -webkit-flex-basis: 87.5%;
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }

  .col-sm-15-16 {
    -ms-flex-preferred-size: 93.75%;
    -webkit-flex-basis: 93.75%;
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%; }

  .col-sm-16-16 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 960px) {
  .col-md-1-16 {
    -ms-flex-preferred-size: 6.25%;
    -webkit-flex-basis: 6.25%;
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%; }

  .col-md-2-16 {
    -ms-flex-preferred-size: 12.5%;
    -webkit-flex-basis: 12.5%;
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }

  .col-md-3-16 {
    -ms-flex-preferred-size: 18.75%;
    -webkit-flex-basis: 18.75%;
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%; }

  .col-md-4-16 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-md-5-16 {
    -ms-flex-preferred-size: 31.25%;
    -webkit-flex-basis: 31.25%;
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%; }

  .col-md-6-16 {
    -ms-flex-preferred-size: 37.5%;
    -webkit-flex-basis: 37.5%;
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }

  .col-md-7-16 {
    -ms-flex-preferred-size: 43.75%;
    -webkit-flex-basis: 43.75%;
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%; }

  .col-md-8-16 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-md-9-16 {
    -ms-flex-preferred-size: 56.25%;
    -webkit-flex-basis: 56.25%;
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%; }

  .col-md-10-16 {
    -ms-flex-preferred-size: 62.5%;
    -webkit-flex-basis: 62.5%;
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }

  .col-md-11-16 {
    -ms-flex-preferred-size: 68.75%;
    -webkit-flex-basis: 68.75%;
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%; }

  .col-md-12-16 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-md-13-16 {
    -ms-flex-preferred-size: 81.25%;
    -webkit-flex-basis: 81.25%;
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%; }

  .col-md-14-16 {
    -ms-flex-preferred-size: 87.5%;
    -webkit-flex-basis: 87.5%;
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }

  .col-md-15-16 {
    -ms-flex-preferred-size: 93.75%;
    -webkit-flex-basis: 93.75%;
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%; }

  .col-md-16-16 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1200px) {
  .col-lg-1-16 {
    -ms-flex-preferred-size: 6.25%;
    -webkit-flex-basis: 6.25%;
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%; }

  .col-lg-2-16 {
    -ms-flex-preferred-size: 12.5%;
    -webkit-flex-basis: 12.5%;
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }

  .col-lg-3-16 {
    -ms-flex-preferred-size: 18.75%;
    -webkit-flex-basis: 18.75%;
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%; }

  .col-lg-4-16 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-lg-5-16 {
    -ms-flex-preferred-size: 31.25%;
    -webkit-flex-basis: 31.25%;
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%; }

  .col-lg-6-16 {
    -ms-flex-preferred-size: 37.5%;
    -webkit-flex-basis: 37.5%;
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }

  .col-lg-7-16 {
    -ms-flex-preferred-size: 43.75%;
    -webkit-flex-basis: 43.75%;
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%; }

  .col-lg-8-16 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-lg-9-16 {
    -ms-flex-preferred-size: 56.25%;
    -webkit-flex-basis: 56.25%;
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%; }

  .col-lg-10-16 {
    -ms-flex-preferred-size: 62.5%;
    -webkit-flex-basis: 62.5%;
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }

  .col-lg-11-16 {
    -ms-flex-preferred-size: 68.75%;
    -webkit-flex-basis: 68.75%;
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%; }

  .col-lg-12-16 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-lg-13-16 {
    -ms-flex-preferred-size: 81.25%;
    -webkit-flex-basis: 81.25%;
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%; }

  .col-lg-14-16 {
    -ms-flex-preferred-size: 87.5%;
    -webkit-flex-basis: 87.5%;
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }

  .col-lg-15-16 {
    -ms-flex-preferred-size: 93.75%;
    -webkit-flex-basis: 93.75%;
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%; }

  .col-lg-16-16 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@media screen and (min-width: 1440px) {
  .col-xl-1-16 {
    -ms-flex-preferred-size: 6.25%;
    -webkit-flex-basis: 6.25%;
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%; }

  .col-xl-2-16 {
    -ms-flex-preferred-size: 12.5%;
    -webkit-flex-basis: 12.5%;
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }

  .col-xl-3-16 {
    -ms-flex-preferred-size: 18.75%;
    -webkit-flex-basis: 18.75%;
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%; }

  .col-xl-4-16 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }

  .col-xl-5-16 {
    -ms-flex-preferred-size: 31.25%;
    -webkit-flex-basis: 31.25%;
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%; }

  .col-xl-6-16 {
    -ms-flex-preferred-size: 37.5%;
    -webkit-flex-basis: 37.5%;
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }

  .col-xl-7-16 {
    -ms-flex-preferred-size: 43.75%;
    -webkit-flex-basis: 43.75%;
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%; }

  .col-xl-8-16 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }

  .col-xl-9-16 {
    -ms-flex-preferred-size: 56.25%;
    -webkit-flex-basis: 56.25%;
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%; }

  .col-xl-10-16 {
    -ms-flex-preferred-size: 62.5%;
    -webkit-flex-basis: 62.5%;
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }

  .col-xl-11-16 {
    -ms-flex-preferred-size: 68.75%;
    -webkit-flex-basis: 68.75%;
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%; }

  .col-xl-12-16 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }

  .col-xl-13-16 {
    -ms-flex-preferred-size: 81.25%;
    -webkit-flex-basis: 81.25%;
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%; }

  .col-xl-14-16 {
    -ms-flex-preferred-size: 87.5%;
    -webkit-flex-basis: 87.5%;
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }

  .col-xl-15-16 {
    -ms-flex-preferred-size: 93.75%;
    -webkit-flex-basis: 93.75%;
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%; }

  .col-xl-16-16 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; } }
@font-face {
  font-family: 'Campton';
  src: url("../fonts/CamptonLight.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: 'Campton';
  src: url("../fonts/CamptonLight.otf") format("opentype");
  font-weight: bold; }
* {
  font-family: 'Campton';
  font-weight: normal; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

p {
  font-size: 18px; }

a {
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: none; }

nav.navbar {
  position: fixed;
  top: 0;
  lefT: 0;
  right: 0;
  background-color: none;
  color: #fff;
  margin: 0;
  padding: 0; }
  nav.navbar .container .brand {
    float: left;
    line-height: 3; }
    nav.navbar .container .brand h1.nav-text {
      display: inline-block;
      font-size: 36px;
      margin-left: 5px;
      color: #fff; }
    nav.navbar .container .brand .logo {
      width: 25px;
      height: 25px; }
  nav.navbar .container .content {
    float: right; }
    nav.navbar .container .content ul {
      list-style: none; }
      nav.navbar .container .content ul li.nav-text {
        display: inline-block;
        margin: 0 15px;
        font-size: 24px; }
        nav.navbar .container .content ul li.nav-text a {
          color: #fff;
          padding: 15px 0;
          line-height: 5; }
  nav.navbar.scrolled {
    background-color: #fff;
    color: #000; }
    nav.navbar.scrolled li.nav-text a {
      color: #000;
      padding: 15px 0; }

section.hero {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../images/background-add.jpg) no-repeat center right scroll;
  background-size: cover; }
  section.hero .container {
    position: relative;
    top: 30%;
    text-align: left;
    margin: 0 auto;
    padding: 0; }
    section.hero .container h1.title {
      font-size: 96px;
      margin: 0;
      padding: 0;
      color: #fff; }
    section.hero .container h2.subtitle {
      font-size: 24px;
      margin: 2px 5px;
      color: #fff;
      opacity: 0.75; }
  section.hero button.learn-more {
    width: auto;
    max-width: 300px;
    height: auto;
    margin: 7% 0 0 5px;
    padding: 7px 35px;
    background: #777;
    color: #fff;
    border: 0; }

section.about {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 60px 0;
  background-color: #fff;
  text-align: center; }
  section.about h1.title {
    font-size: 54px;
    color: #000;
    margin: 0 auto; }
  section.about p {
    width: 100%;
    max-width: 720px;
    font-size: 24px;
    line-height: 1.7;
    margin: -7px auto 0 auto;
    color: #000;
    opacity: 0.8; }

/*# sourceMappingURL=styles.css.map */
