/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/pigeon/target/
/pigeon/src/main/web/node_modules/
/pigeon/src/main/web/components/
/pigeon/src/main/resources/public/*.js
/pigeon/src/main/resources/public/*.css
/empath/target/
*.swp
*.brackets.json
.settings
