@import 'necolas/normalize.css';
@import 'twbs/bootstrap@v3.3.5:dist/css/bootstrap.css';


html {
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
} 

#intro {
    text-align: center;
    font-size: 2em;
    /* visibility: hidden; */
}

#intro h1{
    font-size: 2em;
}

#app {
    text-align: center;
}

/* AFTER LOGIN */
#chat {
    border: 1px solid black;
}

.chat-intro {
    background-color: #D3D3D3;
    text-align: center;
    font-size: 16px;
}

.name {
    font-weight: 600;
    font-size: 1.5em;
}

.bubble{
    background-color: #BCED91;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #BCED91;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.somebody {
    float: left;   
    margin: 10px 90px 10px 40px;         
}

.somebody::before {
    left: -9px;           
}


.me {
    float: right;    
    margin: 10px 40px 10px 45px;         
}

.me::before {
    right: -9px;    
}

/* Fixing some bootstrap */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.write-message {
    position : absolute;
    bottom : 0;
    height : 40px; 
}

.input-box {
    left: 0;
    position: relative;
    width: 100%;
    bottom: 10px;
}

.write-message {
    position: fixed;
    bottom: 0;
}
