// STD : Standard
// Include MIXINS, BASE classes to extend

// Reset full-width container
.layout-reset {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// Vertically Align to middle
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// Parent of vertical alignment to prevent half-pixels
@mixin vertical-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin form-input($width, $padding, $bg-color, $text-color, $border-color) {
	width: $width;
	height: auto;
	margin: 0;
	padding: $padding;
	background-color: $bg-color;
	color: $text-color;
	border-radius: 3px;
	border: 1px solid $border-color;
	outline: none;
}