/* TODO: move component-specific stuff out of here */
// Post Login
/* new stuff */	


::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-corner {
    background: #777;
}
