/* Theme colors */
$color-white: #FAFAFA;
$color-gray: #F0F0F0;
$color-black: #1D1D1D;
$color-lightblack: #313131;
$color-stronggray: #777;
$color-green: #27AE60;
$color-lightgreen: #47CE80;
$color-darkwhite: #F2F2F2;
$color-navyblue: rgb(13, 38, 55);

/* Splash colors */
$splash-color-orange: #FF9933;
$splash-color-red: #F7F7F7;

/* Global sizes */
$sidemenu-width: 20em;
$roomlist-width: 21.5em;
