@import 'necolas/normalize.css';

$color-white: #fafafa;
$color-gray: #f0f0f0;
$color-black: #1d1d1d;
$color-lightblack: #313131;

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.messenger {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-white;
}

.preview {
	display: inline-block;
	width: 420px;
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid $color-gray;
	
	.search {
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $color-gray;
		
		input.search-friend {
			width: calc(100% - 50px);
			height: 75px;
			border: none;
			color: $color-black;
			margin: 0;
			padding: 7px 25px;
			font-size: 18px;
			outline: none;
		}
	}
	.friend-preview {
		display: table;
		width: 100%;
		height: 100px;	
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $color-gray;
		
		.face-container {
			display: inline-block;
			width: 25%;
			height: 100%;
			text-align: center;
			
			.face {
				width: 60px;
				height: 60px;
				margin: 0 15px 0 0;
				border-radius: 50%;
			}
		}
		
		.vertical-container {
			display: table;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			
			.vertical-align {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
			}
		}
		
		.show {
			display: inline-block;
			width: 75%;
			height: 100%;
			margin: 0;
			padding: 0;
			
			h1.friend-name {
				margin: 0;
				padding: 0;
				color: $color-black;
				font-size: 20px;
			}
			
			h2.exerpt {
				margin: 0;
				padding: 0;
				color: $color-lightblack;
				font-size: 16px;
			}
		}
	}
}

.conversation-scr {
	display: inline-block;
	width: calc(100% - 320px);
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
	
	.face {
		width: 65px;
		height: 65px;
		border-radius: 50%;
	}
}
