/* Chat panel */

.chat {
    display: inline-block;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    margin: 0;
    width: calc(100% - #{$roomlist-width});

    header {
        width: 100%;
        margin: 0;
        padding: 0.5em 0;
        background: rgba(255, 255, 255, 0.90);
        text-align: center;

        h1.buddy-name {
            margin: 0;
            padding: 0;
            font-size: 2.25em;
        }

        h2.buddy-status {
            margin: 0;
            padding: 0;
            font-size: 1.25em;
        }
    }

    ul.container {
        min-height: calc(100% - 7.25em);
        list-style: none;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        overflow-y: scroll;
        
        li {
//            width: 100%;
            padding: 0;
            clear: both;
            
            &.me {
                .wrap {
                    float: right;
                }
            }
            
            &.friend {
                .wrap {
                    float: left;
                }
            }
        }
        
        .wrap {
            display: inline-block;
            margin: 5px 0;
            padding: 10px 15px;
            background: rgba(39, 174, 96, 0.5);
//            7c5f40f1-a7bd-45be-988f-4be515068e90
        }
    }

    form.send {
        position: absolute;
        bottom: 0;
        width: calc(100% - 44.5em);
        
        input.form-input {
            display: inline-block;
            @include form-input(calc(100% - 5em), 0.5em 0.75em, $color-white, $color-black);
            font-size: 2em;
        }
        
        button.messageSend {
            display: inline-block;
            @include button(2em, 0.5em 0, rgba(39, 174, 96, 0.5), $color-black, 200);
            font-size: 2em;
            padding: 1em 1.5em;
            margin: 0 0 0.2em 0.2em;
        }
    }
}

@media screen and (max-width: 64em) {
    .chat {
        form.send {
            input.form-input {
                @include form-input(calc(100% - 1.5em), 0.5em 0.75em, $color-white, $color-black);
            }
        }
    }
}
