div.search-panel {
    padding: 1em 2em 0 2em;
    ul {
        list-style: none;
        overflow-y: auto;
        padding: 0;
        padding-right: 0.5em;
        max-height: calc(100vh - 89px - 5em);

        li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            clear: both;
        }
    }
}

.search-btn-toolbar {
    float: right;

    button {
        color: $color-white;
        background: $color-lightgreen;
        border-radius: 3px;
        border: none;
        margin-right: 0.5em;

        &:last-child { margin-right: 0; }

        &:disabled {
            background: $color-gray;
        }
    }
}