// Chat : Sidebar

.sidebar {
	display: inline-block;
	width: 25%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.tiwi {
	background-color: rgba(50, 50, 50, 0.66);
	color: $color-white;
	float: left;
	
	nav.settings {
		width: 90%;
		margin: 0 auto;
		
		ul.options {
			list-style: none;
			margin: 0;
			padding: 1em 0;
			
			li.feedback {
				float: left;
			}
			
			li.account {
				float: right;
			}
		}
	}
	
	section.personal {
		width: calc(100%);
		margin: 0;
		padding: 2em 0;
		
		.container {
			width: 100%;
			text-align: center;
		}
		
		img.my-face {
			width: 40%;
			margin: 0 auto;
			border-radius: 50%;
		}
	}
}