@()

<!DOCTYPE HTML>
<html>
	<head>
		<title>TiwiTalk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="@routes.Assets.versioned("js/ie/html5shiv.js")"></script><![endif]-->
		<link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")" />
		<link rel="stylesheet" href="@routes.Assets.versioned("css/dashboard.css")" />

        <!--[if lte IE 8]><link rel="stylesheet" href="@routes.Assets.versioned("css/ie8.css")" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="@routes.Assets.versioned("css/ie9.css")" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Page Wrapper -->
			<div id="page-wrapper">
            <section id="banner">
            <div class="inner">
                <h2>TiwiTalk</h2>
                <p>Welcome to TiwiTalk</p>
                
                <h3 style="font-size:3em;">You Ranking Is:</h3>
                <h1 style="font-size:7em;">333</h1>
                
                <p>Invite more friends to get higher</p>
                <p style="font-size:0.7em">How? When your friends sign up for TiwiTalk, make sure they put your email as the referral email.</p>
            </section>
            </div>
    </body>
</html>
