@()

<!DOCTYPE HTML>
<html>
	<head>
		<title>TiwiTalk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="@routes.Assets.versioned("js/ie/html5shiv.js")"></script><![endif]-->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")" />
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/logo.png")" />
        <!--[if lte IE 8]><link rel="stylesheet" href="@routes.Assets.versioned("css/ie8.css")" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="@routes.Assets.versioned("css/ie9.css")" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">TiwiTalk</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="" class="scrolly">Home</a></li>
											<li><a href="#one" class="scrolly">Intro</a></li>
											<li><a href="#two" class="scrolly">Features</a></li>
											<li><a href="#three" class="scrolly">Invites</a></li>
											<li><a href="#footer" class="scrolly">Footer</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>TiwiTalk</h2>
                            <p>Revolutionize the way we text</p>
                            <ul class="actions">
								<li><a href="#one" class="button special scrolly">Express yourself.</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- Intro -->
					<section id="one" class="wrapper style1 special">
						<div class="inner" id="features">
							<header class="major">
								<h2>Everybody texts. But texting has its limitations.</h2>
                                <p>There are a lot of miscommunications and insincere feelings while texting, and this is because texting doesn't let you convey any more than just text. We hope to solve this huge problem by allowing users to convey emotions and feelings in ways that texting nor face-to-face conversations has allowed us to.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-weixin major style1"><span class="label"></span></span></li>
								<li><span class="icon fa-clock-o major style2"><span class="label"></span></span></li>
								<li><span class="icon fa-font major style3"><span class="label"></span></span></li>
							</ul>
						</div>
					</section>

				<!-- Features -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="@routes.Assets.versioned("images/pic01.jpg")" alt="" /></div><div class="content">
								<h2>Theme</h2>
								<p>TiwiTalk will detect the mood of your conversation and change your background color accordingly. You may also select themes to set the mood yourself.<i>Your customization. Your style. Your communication.</i></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" /></div><div class="content">
								<h2>Fonts</h2>
								<p>Being able to choose your font are the <i>flare</i> to your conversation. Pick something fun, flirty, classic, or serious from our many offers to put your personal touch on your conversation.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" /></div><div class="content">
								<h2>Time</h2>
                            <p>Your time is <i>precious</i>. Let your friends know whether you want to talk or not by changing your availability setting. Placed at the top of each conversation screen for your convenience. </p>
							</div>
						</section>
					</section>

				<!-- Invite -->
                				<!-- CTA -->
                <section id="cta" class="wrapper style4">
				<div class="inner">
                    <header>
                    <form id="sendEmail" method="POST" action="/sendVerification">
                      <h2>Sign Up NOW</h2>
                      <ul class="actions vertical">
                        <li><input type="email" name="email" style="width:20em" placeholder="Email"></li>
                      </ul>
                    </header>
                      <ul class="actions vertical">
                        <li><a href="#three" class="button fit">Learn More</a></li>
                        <li><button type="submit" class="button fit special">Sign up</button></li>
                      </ul>
                    </form>
				</div>
				</section>
                
                <section id="three" class="wrapper style3 special">
                    <div class="inner">
                        <header class="major">
                            <h2>Sign up now to be on the reservation list.</h2>
                            <p>You will be able to use our product as soon as we launch. <br>
                                You will be on a line to be a <b>beta tester</b> and to win <b>free swag</b> shipped to your house.
                            </p>
                        </header>
                        <ul class="features">
                            <li class="">
                                <h3>1. Sign up with just your email</h3>
                                <p>Easy. Just sign up in the form above. Then, go to the <i>unique</i> link sent to your email and finish the process.</p>
                            </li>
                            <li class="">
                                <h3>2. Invite your friends and up your ranking!</h3>
                                <p>Invite your friends to sign up too, and make sure they put your email address as the referral code.Your ranking will move up, and your friend's ranking will too.</p>
                            </li>
                            <li class="">
                                <h3>3. Win prizes!</h3>
                                <p>There will be a raffle as well as free swag distributed to the top 100 rankers at the time of our launch. You will be eligible just by signing up.</p>
                            </li>
                        </ul>
                    </div>
                </section>
                    
                    <!-- Prizes -->
                    <section id="prizes" class="wrapper style1 special">
						<div class="inner" id="features">
							<header class="major">
								<h2>Prizes</h2>
								<p style="font-size:1.4em"><b>Beats Earbuds</b></p>
                                <p>Raffle from the Top 10.</p>
                                <p style="font-size:1.4em"><b>Stickers Shipped to your front door</b></p>
                                <p>Exclusive "Express Yourself" stickers will be mailed to selected users from the Top 100.</p>
                                <p style="font-size:1.4em"><b>"Express yourself" Shirt</b></p>
                                <p>Raffle from the Top 100</p>
                                <h3></h3>
							</header>
						</div>
					</section>
                    

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.facebook.com/tiwitalk" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://twitter.com/tiwitalk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="mailto:support@@tiwitalk.com?Subject=Hey%20TiwiTalk" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; TiwiTalk</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
			<script src="@routes.Assets.versioned("js/jquery.scrollex.min.js")"></script>
			<script src="@routes.Assets.versioned("js/jquery.scrolly.min.js")"></script>
			<script src="@routes.Assets.versioned("js/skel.min.js")"></script>
			<script src="@routes.Assets.versioned("js/util.js")"></script>
			<!--[if lte IE 8]><script src="@routes.Assets.versioned("js/ie/respond.min.js")"></script><![endif]-->
			<script src="@routes.Assets.versioned("js/main.js")"></script>

	</body>
</html>
