<!DOCTYPE HTML>
<html>
	<head>
		<title>TiwiTalk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Page Wrapper -->
			<div id="page-wrapper">
                <section id="banner">
						<div class="inner">
                            <h2>TiwiTalk</h2>
                            <p>Thanks for verifying your email. <br> Please finish the process here.</p>
                           <section id="cta" class="wrapper style4">
						<div class="inner">
                            <header>
                                <form>
                                    <ul class="actions vertical">
                                    <li><input type="email" name="name" style="width:20em" placeholder="Name"></li>
                                    <li><input type="email" name="email" placeholder="(Optional) Referral Email" style="width:20em"></li>
                                    </ul>
                                </form>
                            </header>
							<ul class="actions vertical">
								<li><a href="index.scala.html#three" class="button fit">Learn More</a></li>
                                <li><a href="#" class="button fit special">Let's go!</a></li>

							</ul>
						</div>
					</section>
						
					</section>
                
        </div>
    </body>
</html>