.launch {
    @extend .layout-reset;
    @include vertical-parent;

    .title { float: left; }
    .version { float: right; }
    .subtitle { clear: both; }
    
    .container {
        width: 70%;
        margin: 0 auto;
        padding: 25px 5px;
        text-align: left;
        color: $color-white;
        @include vertical-align;
        
        h1 {
            margin: 0;    
            padding: 0;
            font-size: 9em;
            line-height: 1em;
        }
        
        h2 {
            margin: 0 0 0.75em 0;
            padding: 0;
            font-size: 3em;
            line-height: 1em;
            opacity: 0.9;
        }
        
        form {
            width: 100%;
            max-width: 420px;
        }
        
        input.form-input {
            display: block;
            @include form-input(calc(100% - 2.08em), 0.625em 1em, $color-white, $color-black);
            margin: 10px 0;
            font-size: 1.2em;
        }
        
        button.form-click {
            display: block;
            @include button(100%, 0.625em 1em, $color-green, $color-white, 200ms);
            font-size: 1.2em;
        }
    }
    .intro {
        padding-right: 100px;
    }
}

/* Background colors */
@mixin BackGradientFrames() {
    0%   { background-position: 0%   50% }
    50%  { background-position: 100% 50% }
    100% { background-position: 0%   50% }
}

@-webkit-keyframes BackGradient {
    @include BackGradientFrames();
}
@-moz-keyframes BackGradient {
    @include BackGradientFrames();
}
@-o-keyframes BackGradient {
    @include BackGradientFrames();
}
@keyframes BackGradient {
    @include BackGradientFrames();
}

.launch {
    background: linear-gradient(140deg, #0c4cec, #587ef3, #13c6d9, #32bf2a, #bcbf2a, #0fa9a8);
    background-size: 1600% 1600%;

    $anim: BackGradient 20s ease infinite;
    -webkit-animation: $anim;
    -moz-animation: $anim;
    -o-animation: $anim;
    animation: $anim;
}
